html{
    overflow-x: hidden;
    height: 100%;
}

body{
    background-color: #121212;
    color: white;
}

main{
    width: 1000px;
    margin:auto;
}

.license-container{
    max-width: 500px;
    margin: auto;
    margin-top: 30%;
    text-align: center;
}

.form-check-input:checked{
    background-color: #343a40;
    border-color: white;
}

.cookies button {
    background-color: gray;
    color: white;
    font-size: 16px;
}

.quizzes-btn{
    background-color: #343a40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    animation-name: expand;
    width: 150px;
}

.quizzes-btn:hover{
    background-color: white;
    color: black;
}

