<!DOCTYPE html>
<html lang="cs" class="dark-bg">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prohlášení o přístupnosti - Bing Qi Lin</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/9a55589d18.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9a55589d18.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}" >
  </head>
<style>
    body{
        background-color: #121212;
        color: white;
    }
</style>
<body>
<header class="navbar-dark bg-dark">

    <br>

  <div class="row">
    <div class="col-md-3">
      <a href="{{ path('homepage') }}">
        <i class="fa-solid fa-arrow-left-long fa-2x" style="margin-left: 50px; color: white;"></i>
      </a>
    </div>
    <div class="col-md-6 text-center">
      <h1 class="text-light">Prohlášení</h1>
    </div>
    <div class="col-md-1 text-center">
      <!-- User account navigation control - view account, logout -->
      {% if is_granted('IS_AUTHENTICATED') %}
        <a href="">
          <i class="fa-solid fa-user fa-2x"></i>
        </a>
      {% else %}
        <a href="login">
          <i class="fa-solid fa-user fa-2x"></i>
        </a>
      {% endif %}

    </div>
    <div class="col-md-1 text-center">
      {% if is_granted('IS_AUTHENTICATED') %}
        <h2>{{ app.user.username }}</h2>
      {% endif %}
    </div>
    <div class="col-md-1 text-start">
      {% if is_granted('IS_AUTHENTICATED') %}
        <a href="logout">
          <i class="fa-solid fa-house fa-2x" style="margin-left: 50px; color: white;"></i>
        </a>
      {% endif %}
    </div>

  </div>
</header>
  <main>
    <h1>Prohlášení o přístupnosti</h1>
    <p>
      Bing Qi Lin se zavazuje ke zpřístupnění obsahu svých internetových
      stránek v souladu se zákonem č. 99/2019 Sb., o přístupnosti internetových
      stránek a mobilních aplikací a o změně zákona č. 365/2000 Sb., o
      informačních systémech veřejné správy a o změně některých dalších zákonů, ve
      znění pozdějších předpisů, které provádějí směrnici Evropského parlamentu a
      Rady (EU) 2016/2102.
    </p>

    <h2>Stav souladu</h2>
    <p>
      Tyto webové stránky jsou částečně v souladu se zákonem č. 99/2019 Sb., ve
      znění pozdějších předpisů, z důvodu nesouladu nebo výjimek uvedených níže.
    </p>
    
    <p>
    <h2>Vypracování tohoto prohlášení o přístupnosti</h3>
    <p>Toto prohlášení bylo vypracováno dne 17.02.2023.</p>
    <p>
    Prohlášení bylo vypracováno posouzením provedeným třetí stranou – jeden ze zpracovatelů
    této internetové stránky Matějem Josefem Koběrským.
    </p>
    <p>
    Při posuzování se sledovala shoda s kritérii uvedenými v Metodickém pokynu k
    zákonu č. 99/2019 Sb., ve znění pozdějších předpisů a standardu Web Content 
    Accessibility Guidelines – WCAG 2.1.
    </p>
    <h2>Zpětná vazba a kontaktní údaje</h2>
    <p>
    Vaše náměty či informace o problémech při zobrazování stránek, stejně jako dotazy,
    návrhy nebo připomínky týkající se obsahu webu či důvodného podezření, že webová
    stránka nesplňuje požadavky zákona č. 99/2019 Sb., ve znění pozdějších předpisů,
    včetně možnosti podat podnět vůči příslušným státním orgánům, můžete psát na adresu:
    kobersky@spsejecna.cz
    </p>
    <p>
    Kontakt na osobu odpovědnou za přístupnost stránek a za zpracování žádostí zaslaných
    prostřednictvím mechanismu zpětné vazby:
    </p>
    <p>Bing Qi Lin</p>
    <p>email: kobersky@spsejecna.cz</p>
    <h2>Postup pro prosazování práva</h2>
    <p>
    V případě neuspokojivé odpovědi na zpětnou vazbu dle předchozího odstavce, můžete
    kontaktovat příslušný orgán pro prosazování práva:
    </p>
    <p>Ministerstvo vnitra, odbor eGovernmentu</p>
    <p>náměstí Hrdinů 1634/3, 140 21 Praha 4</p>
    <p>email: pristupnost@mvcr.cz</p>
  </main>
<!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="left: 0; bottom: 0; width: 100%; position: fixed;">
<!-- Copyright -->
  <div class="p-3 text-light" style="text-align: right">
    <a rel="license" href="license"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
  </div>
</footer>
</html>