<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/9a55589d18.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9a55589d18.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}" > 
</head>
<body>
{# need to evaluate percentage #}
{% set percentage = 40 %}
{% set barWidth = percentage * 2 %}

{{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set')) }}
<header class="navbar-dark bg-dark">
    <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">
            <h1 class="text-light">Výběr maturitních otázek z českého jazyka</h1>
        </div>
        <div class="col-md-1 text-end">
            <!-- User account navigation control - view account, logout -->
            <a href="">
            <i class="fa-solid fa-user fa-2x"></i>
            </a>
        </div>
    </div>
</header>

<!-- Main section of the page, progressbar -->
<main class="homepage-main" style="width: 1000px;">
    <span class="progressbar-container">
    <h3 class="your-progress">Tvůj progres</h3>
    {# simple percentage bar -> width needs to be 100 times greater than multiplication value of percentage in the code above#}
        <div class="progressbar-box" style="width: 200px; height: 20px; border: 1px solid black;">
            <div class="progressbar-line" style="width: {{ barWidth }}px; height: 100%; background-color: green; float: left;"></div>
        </div>
    </span>
    <!-- Main menu buttons -->
    <!-- TODO/suggestion: Remove all buttons/links and add them into a collapsible menu on the side of the page instead, eventually fill the page with some text -->
    <section>
        <span style="padding: 10px">
            <div>
                <a class="btn btn-dark" id="t1" href="prvak" style="margin-left: 15px">Prvák</a>
            </div>
            <div>
                <a class="btn btn-dark" id="t2" href="#" style="margin-left: 15px; margin-top: 20px">Druhák</a>
            </div>
            <div>
                <a class="btn btn-dark" id="t3" href="#" style="margin-left: 15px; margin-top: 20px">Třeťák</a>
            </div>
            <div>
                <a class="btn btn-dark" id="t4" href="#" style="margin-left: 15px; margin-top: 20px">Čtvrťák</a>
            </div>
        </span>
    </section>
</main>
<!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="left: 0; bottom: 0; width: 100%; position: fixed;">
  <!-- Copyright -->
  <div class="p-3 text-light" style="text-align: right">
    <a rel="license" href="license"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
  </div>
</footer>
</body>
</html>