<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
{# need to evaluate percentage #}
{% set percentage = 40 %}
{% set barWidth = percentage * 2 %}
<header>
    <nav style="text-align: right;">
        <!-- User account navigation control - view account, logout -->
        <p>random bullshit go</p>
    </nav>
</header>

<h1 id="homepage-header">Český jazyk maturita</h1>

<!-- Main section of the page, progressbar -->
<main id="homepage-main">
    <span id="progressbar-container">
    <h3 id="your-progress">Tvůj progres</h3>
    {# simple percentage bar -> width needs to be 100 times greater than multiplication value of percentage in the code above#}
        <div id="progressbar-box" style="width: 200px; height: 20px; border: 1px solid black;">
            <div id="progressbar-line" style="width: {{ barWidth }}px; height: 100%; background-color: green; float: left;"></div>
        </div>
    </span>
</main>

<!-- Main menu buttons -->
<!-- TODO/suggestion: Remove all buttons/links and add them into a collapsible menu on the side of the page instead, eventually fill the page with some text -->
<section>
    <span>
        <div>
            <button type="button">Kvízy</button>
        </div>
        <div>
            <button type="button">Témata</button>
        </div>
        <div>
            <button type="button">Some other shi</button>
        </div>
        <div>
            <button type="button">O nás</button>
        </div>
    </span>
</section
</html>
