<head>
    <title>Cesky jazyk maturita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
{# need to evaluate percentage #}
{% set percentage = 40 %}
{% set barWidth = percentage * 3 %}

<div class="text-center">
    <h1>cesky jazyk maturita</h1>
</div>
{# simple percentage bar -> width needs to be 100 times greater than multiplication value of percentage in the code above#}

<a href="quiz">
<div style="width: {{ barWidth * 100 }}px; height: 20px; border: 1px solid black;">
    <div style="width: {{ barWidth }}px; height: 100%; background-color: green; float: left;">
    </div>
</div>
</a>
<h5>Kviz zacatek prvaku</h5>
</body>
