<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/9a55589d18.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9a55589d18.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}" >
</head>
<body>
<header class="navbar-dark bg-dark">
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1 class="text-light">Přihlásit se</h1>
        </div>
        <div class="col-md-1 text-end">
            <!-- User account navigation control - view account, logout -->
            <a href="">
            <i class="fa-solid fa-user fa-2x"></i>
            </a>
        </div>
    </div>
</header>
    <main>
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="user[username]">

            <label for="password">Password:</label>
            <input type="password" id="password" name="user[password]">

            <input type="submit" value="Login">
        </form>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        <!-- Footer -->
        <footer class="bg-dark text-center text-lg-start" style="left: 0; bottom: 0; width: 100%; position: fixed;">
            <!-- Copyright -->
            <div class="p-3 text-light" style="text-align: right">
                <a rel="license" href="license"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>
        </footer>
    </main>
</body>
</html>