<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Prvak</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/9a55589d18.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9a55589d18.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style.css') }}" > 
</head>
<style>
    .card{
        color: black;
        width: 18rem; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 50px;
    }

    .card-body{
        text-align: center;
    }
</style>
<body>
<header class="navbar-dark bg-dark">
    <br>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('homepage') }}">
                <i class="fa-solid fa-arrow-left-long fa-2x" style="margin-left: 50px; color: white;"></i>
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h1 class="text-light">Kvízy - prvák</h1>
        </div>
        <div class="col-md-1 text-center">
            <!-- User account navigation control - view account, logout -->
            {% if is_granted('IS_AUTHENTICATED') %}
            <a href="">
            <i class="fa-solid fa-user fa-2x"></i>
            </a>
            {% else %}
            <a href="login">
                <i class="fa-solid fa-user fa-2x"></i>
            </a>
            {% endif %}

        </div>
        <div class="col-md-1 text-center">
            {% if is_granted('IS_AUTHENTICATED') %}
                <h2>{{ app.user.username }}</h2>
            {% endif %}
        </div>
        <div class="col-md-1 text-start">
            {% if is_granted('IS_AUTHENTICATED') %}
                <a href="logout">
                    <i class="fa-solid fa-right-from-bracket fa-2x" ></i>
                </a>
            {% endif %}
        </div>

    </div>
</header>
    <main>
        <span class="quiz-menu-prvak">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Básnické výrazy</h5>
                    <p class="card-text">14 otázek, úspěšnost: _%</p>
                    <button onclick="window.location.href='/vyrazy'" class="btn btn-dark">Začít</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Literární druhy a divadelní pojmy</h5>
                    <p class="card-text">16 otázek, úspěšnost: _% </p>
                    <a href="#" class="btn btn-dark">Začít</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">idk</h5>
                    <p class="card-text"> otázek, úspěšnost: _%</p>
                    <a href="#" class="btn btn-dark">Začít</a>
                </div>
            </div>
        </span>
    </main>
</body>
</html>